// Highlight.js custom theme
// Follow guidelines
// 1. Uncomment the block just below - remove `/*` and `*/`
// 2. Fill `background`, `color`, `border-right-color` properties
// with properties of `.hljs` CSS class of your theme
// 3. Put your theme where it's indicated just below
// 4. Remove `.hljs {...}` rules
// 5. Remove `hljs-` of all CSS class name. E.g : `.hljs-comment` becomes `.comment`
// 6. Comment line 61 (`'themes/tranquilpeak',`) of `source/_css/tranquilpeak.scss` file
// 7. Run `grunt buildProd` to build the theme and see the result

// Default code block
pre > code {
  background: map-get($highlight, 'code-background-solarized');
  color: map-get($highlight, 'code-color-solarized');
}

// Default inline code
//code {
//  background-color: map-get($highlight, 'code-background-solarized');
//  color: #040;
//}

// Tabbed code block tab
// If your theme is dark then use a lighter background
// to see clearly which tab is active
.codeblock--tabbed figcaption .tab.active {
  background-color: rgba(209, 145, 9, 0.05);
  color: map-get($highlight, 'codeblock-tabbed-active');
  font-weight: bold;
}

// highlight code block
figure.highlight {
  border-radius: 8px;
  border: map_get($highlight, 'code-block-border');
}

figure.highlight,
.codeblock {
  background: map-get($highlight, 'code-background-solarized');
  color: map-get($highlight, 'code-color-solarized');

  figcaption {
    color: map-get($highlight, 'code-color-solarized');
  }
  .gutter {
    .line {
      color: map-get($highlight, 'code-color-solarized');
    }
  }
  // PUT YOUR THEME HERE
  .comment,
  .quote {
    color: #bc9458;
    font-size: map-get($font-size, 'medium');
    font-weight: normal;
    font-family: Consolas, "Microsoft YaHei", monospace;
    line-height: map_get($highlight, 'line-height');
  }

  /* Solarized Green */
  .keyword,
  .selector-tag,
  .addition {
    color: #c05b4a;
  }

  /* Solarized Cyan */
  .number,
  .string,
  .meta .meta-string,
  .literal,
  .doctag,
  .regexp {
    color: #2aa198;
  }

  /* Solarized Blue */
  .title,
  .section,
  .name,
  .selector-id,
  .selector-class {
    color: #268bd2;
  }

  /* Solarized Yellow */
  .attribute,
  .attr,
  .variable,
  .template-variable,
  .class .title,
  .type {
    color: #b58900;
  }

  /* Solarized Orange */
  .symbol,
  .bullet,
  .subst,
  .meta,
  .meta .keyword,
  .selector-attr,
  .selector-pseudo,
  .link {
    color: #cb4b16;
  }

  .params {
    color: #BA8F6C;
  }

  /* Solarized Red */
  .built_in,
  .deletion {
    color: #dc322f;
  }

  .formula {
    background: #eee8d5;
  }

  .emphasis {
    font-style: italic;
  }

  .strong {
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
  }

  @import "scrollbar";

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
  }
}
