::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .12);
  background-color: transparent;
  &:hover {
    background-color: rgb(193, 193, 193);
  }
}
