// TODO 浏览器动画适配
/*----in for sidebar----*/

// for search tool in
@keyframes leftInSearch {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  60% {
    transform: translate3d(325px, 0, 0);
    opacity: 0.1;
  }
  75% {
    transform: translate3d(290px, 0, 0);
    opacity: 0.5;
  }
  90% {
    transform: translate3d(305px, 0, 0);
    opacity: 0.8;
  }
  to {
    transform: translate3d(300px, 0, 0);
    opacity: 1;
  }
}

/*----Out for main----*/
@keyframes rightOutMain {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: translate3d(75, 0, 0);
  }
  60% {
    transform: translate3d(345px, 0, 0);
  }
  75% {
    transform: translate3d(310px, 0, 0);
  }
  90% {
    transform: translate3d(325px, 0, 0);
  }
  to {
    transform: translate3d(320px, 0, 0);
  }
}

/*----Out for main pushed xlarge----*/
@keyframes rightOutMainPushedXLarge {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: translate3d(500, 0, 0);
  }
  60% {
    transform: translate3d(845px, 0, 0);
  }
  75% {
    transform: translate3d(810px, 0, 0);
  }
  90% {
    transform: translate3d(825px, 0, 0);
  }
  to {
    transform: translate3d(820px, 0, 0);
  }
}

/*----Out for main pushed large----*/
@keyframes rightOutMainPushedLarge {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: translate3d(250, 0, 0);
  }
  60% {
    transform: translate3d(595px, 0, 0);
  }
  75% {
    transform: translate3d(560px, 0, 0);
  }
  90% {
    transform: translate3d(575px, 0, 0);
  }
  to {
    transform: translate3d(570px, 0, 0);
  }
}

/*----Out for main pushed medium----*/
@keyframes rightOutMainPushedMedium {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: translate3d(75, 0, 0);
  }
  60% {
    transform: translate3d(420px, 0, 0);
  }
  75% {
    transform: translate3d(385px, 0, 0);
  }
  90% {
    transform: translate3d(400px, 0, 0);
  }
  to {
    transform: translate3d(395px, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoom-in {
  animation-name: zoomIn;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
