// TODO 浏览器动画适配
/*----in for sidebar----*/

// for large size sidebar
@keyframes leftInSearch {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(325px, 0, 0);
  }

  75% {
    transform: translate3d(290px, 0, 0);
  }

  90% {
    transform: translate3d(305px, 0, 0);
  }

  to {
    transform: translate3d(300px, 0, 0);
  }
}

/*----Out for main----*/
@keyframes rightOutMain {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(345px, 0, 0);
  }

  75% {
    transform: translate3d(310px, 0, 0);
  }

  90% {
    transform: translate3d(325px, 0, 0);
  }

  to {
    transform: translate3d(320px, 0, 0);
  }
}

/*----right in for main----*/
@keyframes rightInMain {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(320, 0, 0);
  }

  60% {
    transform: translate3d(35px, 0, 0);
  }

  75% {
    transform: translate3d(5px, 0, 0);
  }

  90% {
    transform: translate3d(15px, 0, 0);
  }

  to {
    transform: translate3d(0px, 0, 0);
  }
}

@keyframes smallLeftOut {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(333px, 0, 0);
  }

  60% {
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
