#anm-canvas {
  display: block;
  position: fixed;
  background: linear-gradient(200deg, #a0cfe4, #e8c37e);
}
/*----media----*/
@media #{$small-and-down} {
  #anm-canvas {
    @include margin-left-zero;
    &[data-behavior="1"],
    &[data-behavior="2"],
    &[data-behavior="4"],
    &[data-behavior="5"] {
      @include margin-left-pushed-lg;
    }
    &[data-behavior="3"],
    &[data-behavior="6"] {
      @include margin-left-pushed-md;
    }
  }
}

@media #{$medium-only} {
  #anm-canvas {
    &[data-behavior="1"],
    &[data-behavior="2"],
    &[data-behavior="3"] {
      @include margin-left-md;
      @include margin-left-pushed-lg;
    }
    &[data-behavior="4"],
    &[data-behavior="5"] {
      @include margin-left-zero;
      @include margin-left-pushed-lg;
    }
    &[data-behavior="6"] {
      @include margin-left-zero;
      @include margin-left-pushed-md;
    }
  }
}

@media #{$large-only} {
  #anm-canvas {
    &[data-behavior="1"],
    &[data-behavior="2"] {
      @include margin-left-lg;
    }
    &[data-behavior="3"] {
      @include margin-left-md;
    }
    &[data-behavior="4"],
    &[data-behavior="5"] {
      @include margin-left-zero;
      @include margin-left-pushed-lg;
    }
    &[data-behavior="6"] {
      @include margin-left-zero;
      @include margin-left-pushed-md;
    }
  }
}

@media #{$xlarge-and-up} {
  #anm-canvas {
    &[data-behavior="1"] {
      @include margin-left-xlg;
    }
    &[data-behavior="2"] {
      @include margin-left-lg;
    }
    &[data-behavior="3"] {
      @include margin-left-md;
    }
    &[data-behavior="4"] {
      @include margin-left-zero;
      @include margin-left-pushed-xlg;
    }
    &[data-behavior="5"] {
      @include margin-left-zero;
      @include margin-left-pushed-lg;
    }
    &[data-behavior="6"] {
      @include margin-left-zero;
      @include margin-left-pushed-md;
    }
  }
}