.search-tools-col {
  width: #{map-get($search-tool, tool-width)};
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1100;
  padding: 0;
  opacity: 0;
  font-family:    $font-family-base;
  border-right: 0.2px solid transparent;
  -moz-box-shadow: 3px 0 5px #888888; /* 老的 Firefox */
  box-shadow: 3px 0 5px #888888;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  @extend %trans;
  .tools-wrap, .tools-section {
    height: 100%;
    color: #e5e5e5;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .tools-section {
    .search-wrap {
      width: 300px;
      margin: 20px 20px 10px 20px;
      position: relative;
      .search-ipt {
        width: 258px;
        color: #fff;
        outline: none;
        font-size: 14px;
        background: none;
        border: none;
        border-bottom: 2px solid #fff;
      }
      .icon {
        position: absolute;
        right: 0;
        top: 7px;
        color: #fff;
        cursor: pointer;
        @extend %trans;
        &:hover {
          transform: scale(1.2);
        }
      }
      ::-webkit-input-placeholder {
        color: #ededed;
      }
    }
    .search-tag.tagcloud {
      text-align: center;
      position: relative;
      .search-tag-wording {
        font-size: 12px;
        float: right;
        margin: 4px 75px 0 0;
      }
      .article-tag-list {
        @extend %trans;
        display: block;
        margin: 15px 10px 0;
        padding: 10px 15px 10px 15px;
        background: rgba(255, 255, 255, 0.2);
        .clearfix:after, .clearfix:before {
          content: "";
          display: table
        }

        .clearfix:after {
          clear: both
        }
      }
      .a {
        float: initial;
      }
      li {
        list-style: none;
      }
    }
    .results-count {
      padding: 10px 0 0 12px;
      font-size: 14px;
      margin-bottom: 0px;
    }
    .search-result {
      padding-left: 0px;
      color: rgba(77, 77, 77, 0.75);
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
      overflow-y: auto;
      .media {
        padding: 10px 10px 0 12px;
        border-bottom: 1px dotted #dcdcdc;
        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }
      .search-title {
        overflow: hidden;
        white-space: nowrap;
        font-weight: 100;
        text-overflow: ellipsis;
        display: block;
        color: rgba(255, 255, 248, 1);
        .icon {
          margin-right: 10px;
          color: #fffdd8;
        }
        &:hover {
          color: #fff;
          @extend %trans;
          text-decoration: none;
        }
        #search-post-title {
          font-size:   map-get($font-size, medium);
        }
      }
      .search-time, .search-tag {
        font-size: 12px;
        color: #fffdd8;
        margin-right: 10px;
        margin-bottom: 0;
        .icon {
          margin-right: 0px;
        }
        span {
          cursor: pointer;
          &:hover {
            color: #fff;
            @extend %trans;
          }
        }
      }
      .search-time {
        float: left;
      }
      .search-tag {
        span {
          margin-right: 4px;
        }
      }
      div.clearfix {
        clear: both;
      }
    }
  }

  &.show {
    animation-duration: .8s;
    animation-fill-mode: both;
    animation-name: leftInSearch;
  }

  i.fa {
    font-size: 1.2rem;
    color: #fffdd8;
    line-height: 1;
    font-style: normal;
    margin-right: 8px;

  }
}

/*----animation-----*/
%trans {
  transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
}

/*----media----*/
@media #{$small-and-down} {
  .search-tools-col {
    &[data-behavior="1"],
    &[data-behavior="2"],
    &[data-behavior="4"],
    &[data-behavior="5"] {
      @include left-sm;
      @include left-pushed-lg;
    }
    &[data-behavior="3"],
    &[data-behavior="6"] {
      @include left-sm;
      @include left-pushed-md;
    }
  }
}

@media #{$medium-only} {
  .search-tools-col {
    &[data-behavior="1"],
    &[data-behavior="2"],
    &[data-behavior="3"] {
      @include left-md;
      @include left-pushed-lg;
    }
    &[data-behavior="4"],
    &[data-behavior="5"] {
      @include left-sm;
      @include left-pushed-lg;
    }
    &[data-behavior="6"] {
      @include left-sm;
      @include left-pushed-md;
    }
  }
}

@media #{$large-only} {
  .search-tools-col {
    &[data-behavior="1"],
    &[data-behavior="2"] {
      @include left-lg;
    }
    &[data-behavior="3"] {
      @include left-md;
    }
    &[data-behavior="4"],
    &[data-behavior="5"] {
      @include left-sm;
      @include left-pushed-lg;
    }
    &[data-behavior="6"] {
      @include left-sm;
      @include left-pushed-md;
    }
  }
}

@media #{$xlarge-and-up} {
  .search-tools-col {
    &[data-behavior="1"] {
      @include left-xlg;
    }
    &[data-behavior="2"] {
      @include left-lg;
    }
    &[data-behavior="3"] {
      @include left-md;
      @include left-pushed-xlg;
    }
    &[data-behavior="4"] {
      @include left-sm;
      @include left-pushed-xlg;
    }
    &[data-behavior="5"]{
      @include left-sm;
      @include left-pushed-lg;
    }
    &[data-behavior="6"] {
      @include left-sm;
      @include left-pushed-md;
    }
  }
}