// Global CSS rules for all screen size
#sidebar {
    font-family:        map-get($font-families, 'sidebar');
    height:             100%;
    position:           fixed;
    top:                0;
    background:         map-get($sidebar, background);
    overflow:           auto;
    z-index:            map-get($z-indexes, l-sidebar);
    // Sidebar animation
    // Transition style (push)
    transition:         transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    // Improve smoothing of the font by adding subpixel in Safari
    @include prefix(font-smoothing, antialiased, 'webkit');

    .sidebar-container {
        overflow: auto;
    }
    // Author information
    .sidebar-profile {
        color:         map-get($sidebar, color);
        text-align:    center;
        padding-top:   18px;
        margin-bottom: 15px;

        .sidebar-profile-picture {
            display: block;
            margin:  0 auto;
            border-radius: 50%;
        }
        .sidebar-profile-name {
            font-size: 1.1em;
            color:     map-get($sidebar, color);
        }
    }
    // Sidebar's buttons
    ul.sidebar-buttons {
        padding: 0;
        margin:  0 0 20px 0;

        li.sidebar-button {
            display:     block;
            width:       100%;
            // Height of a link in the menu
            height:      45px;
            line-height: 45px;

            .sidebar-button-link {
                color:   map-get($sidebar, color);
                display: block;
                height:  100%;

                &:hover,
                &:active {
                    text-decoration: none;
                    color:           lighten(map-get($sidebar, color), 35);
                }
            }
        }
        &:first-child {
            margin-top: 5px;
        }
    }

    /*头像效果*/
    .ih-item.circle.effect {
        margin: 0 auto;
        -webkit-perspective: 900px;
        -moz-perspective: 900px;
        perspective: 900px;
    }
    .ih-item.circle.effect .sidebar-profile-picture {
        z-index: 11;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .ih-item.circle.effect .info {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .ih-item.circle.effect .info .info-back {

        opacity: 1;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        /*background: #333333;*/
    }
    .ih-item.circle.effect .info h2 {
        color: #fff;
        position: relative;
        font-size: 16px;
        margin: 0 auto;
        padding-top: 30px;
        height: 24px;
        /*text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);*/
    }
    .ih-item.circle.effect .info p {
        color: #e6e6e6;
        padding: 0px 0px 0px 0px;
        font-style: italic;
        font-size: 16px;
    }
    .ih-item.circle.effect .info p, h2 {
        text-shadow: 0 0 1px white, 0 1px 1px rgba(0, 0, 0, 0.2);
        font-weight: normal;
        letter-spacing: normal;
    }
    .ih-item.circle.effect.bottom_to_top .sidebar-profile-picture {
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    .ih-item.circle.effect.bottom_to_top a:hover .sidebar-profile-picture {
        -webkit-transform: rotate3d(1, 0, 0, 180deg);
        -moz-transform: rotate3d(1, 0, 0, 180deg);
        -ms-transform: rotate3d(1, 0, 0, 180deg);
        -o-transform: rotate3d(1, 0, 0, 180deg);
        transform: rotate3d(1, 0, 0, 180deg);
    }
    .ih-item.circle.effect.top_to_bottom .sidebar-profile-picture {
        -webkit-transform-origin: 50% 100%;
        -moz-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    .ih-item.circle.effect.top_to_bottom a:hover .sidebar-profile-picture {
        -webkit-transform: rotate3d(1, 0, 0, -180deg);
        -moz-transform: rotate3d(1, 0, 0, -180deg);
        -ms-transform: rotate3d(1, 0, 0, -180deg);
        -o-transform: rotate3d(1, 0, 0, -180deg);
        transform: rotate3d(1, 0, 0, -180deg);
    }
    .ih-item.circle.effect.left_to_right .sidebar-profile-picture {
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
    .ih-item.circle.effect.left_to_right a:hover .sidebar-profile-picture {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
        -moz-transform: rotate3d(0, 1, 0, 180deg);
        -ms-transform: rotate3d(0, 1, 0, 180deg);
        -o-transform: rotate3d(0, 1, 0, 180deg);
        transform: rotate3d(0, 1, 0, 180deg);
    }
    .ih-item.circle.effect.right_to_left .sidebar-profile-picture {
        -webkit-transform-origin: 0% 50%;
        -moz-transform-origin: 0% 50%;
        -ms-transform-origin: 0% 50%;
        -o-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
    .ih-item.circle.effect.right_to_left a:hover .sidebar-profile-picture {
        -webkit-transform: rotate3d(0, 1, 0, -180deg);
        -moz-transform: rotate3d(0, 1, 0, -180deg);
        -ms-transform: rotate3d(0, 1, 0, -180deg);
        -o-transform: rotate3d(0, 1, 0, -180deg);
        transform: rotate3d(0, 1, 0, -180deg);
    }
    .ih-item a {
        color: #333;
    }
    .ih-item a:hover {
        text-decoration: none;
    }
    .ih-item img {
        width: 100%;
        height: 100%;
    }
    .ih-item.circle {
        position: relative;
        border-radius: 50%;
    }
    .ih-item.circle .sidebar-profile-picture {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .ih-item.circle .sidebar-profile-picture:before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }
    .ih-item.circle .sidebar-profile-picture img {
        border-radius: 50%;
    }
    .ih-item.circle .info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        border-radius: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

// Define sidebar behavior configured in `_config.yml` for small screen
// On `$small-and-down` (small screen): It hide by default the sidebar
// and with javascript located in `source/_js/_sidebar.js`, it will animate the swipe of the sidebar
@media #{$small-and-down} {
    #sidebar {
        &[data-behavior="1"],
        &[data-behavior="2"],
        &[data-behavior="4"],
        &[data-behavior="5"] {
            left: -#{map-get($sidebar, lg-screen-width)};
            @include sidebar-lg;
        }
        &[data-behavior="3"],
        &[data-behavior="6"] {
            left: -#{map-get($sidebar, md-screen-width)};
            @include sidebar-md;
        }
    }
}

// Define sidebar behavior configured in `_config.yml` for medium screen
@media #{$medium-only} {
    #sidebar {
        // used to hide portrait text
        .info {
            display: none;
        }

        .ih-item.circle.effect.right_to_left a:hover .sidebar-profile-picture {
            -webkit-transform: rotate3d(0, 1, 0, 0deg);
            -moz-transform: rotate3d(0, 1, 0, 0deg);
            -ms-transform: rotate3d(0, 1, 0, 0deg);
            -o-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
        }

        &[data-behavior="1"],
        &[data-behavior="2"],
        &[data-behavior="3"] {
            @include sidebar-md;
        }
        &[data-behavior="4"],
        &[data-behavior="5"] {
            left: -#{map-get($sidebar, lg-screen-width)};
            @include sidebar-lg;
        }
        &[data-behavior="6"] {
            left: -#{map-get($sidebar, md-screen-width)};
            @include sidebar-md;
        }
    }
}

// Define sidebar behavior configured in `_config.yml` for large screen
@media #{$large-only} {
    #sidebar {
        // used to hide portrait text
        .info {
            -webkit-animation-name: fadeIn; /*动画名称*/
            -webkit-animation-duration: 2s; /*动画持续时间*/
            -webkit-animation-iteration-count: 1; /*动画次数*/
            -webkit-animation-delay: 0s; /*延迟时间*/
        }

        &[data-behavior="1"],
        &[data-behavior="2"] {
            @include sidebar-lg;
        }
        &[data-behavior="3"] {
            @include sidebar-md;
        }
        &[data-behavior="4"],
        &[data-behavior="5"] {
            left: -#{map-get($sidebar, lg-screen-width)};
            @include sidebar-lg;
        }
        &[data-behavior="6"] {
            left: -#{map-get($sidebar, md-screen-width)};
            @include sidebar-md;
        }
    }
}

@media #{$xlarge-and-up} {
    #sidebar {
        &[data-behavior="1"] {
            @include sidebar-xlg;
        }
        &[data-behavior="2"] {
            @include sidebar-lg;
        }
        &[data-behavior="3"] {
            @include sidebar-md;
        }
        &[data-behavior="4"] {
            left: -#{map-get($sidebar, xlg-screen-width)};
            @include sidebar-xlg;
        }
        &[data-behavior="5"] {
            left: -#{map-get($sidebar, lg-screen-width)};
            @include sidebar-lg;
        }
        &[data-behavior="6"] {
            left: -#{map-get($sidebar, md-screen-width)};
            @include sidebar-md;
        }
        // hide bio in sidebar when small sidebar is enabled
        &[data-behavior="2"],
        &[data-behavior="3"],
        &[data-behavior="5"],
        &[data-behavior="6"] {
            .sidebar-profile-bio {
                display: none;
            }
        }
    }
}

// display author bio only on extra large screen
@media #{$large-and-down} {
    #sidebar .sidebar-profile-bio {
        display: none;
    }
}

// Hide sidebar in print layout
@media print {
    #sidebar {
        display: none;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        opacity: 0; /*中间状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}