<li class="search-li">
    <a class="search-title"><i class="icon-quo-left icon"></i><span id="search-post-title"></span></a>
    <p class="search-time">
        <i class="icon-calendar icon"></i>
        <span></span>
    </p>
    <p class="search-tag">
        <i class="icon-price-tags icon"></i>
        <span id="search-post-tags"></span>
    </p>
</li>