// Highlight code block
figure.highlight,
.codeblock {
  margin: 5px 0 0;
  line-height: map-get($highlight, line-height);
  overflow: hidden;
  border-radius: 8px;

  table {
    display: block;
    width: 100%;
    tr:hover {
      background-color: transparent;
    }
    tr:last-child td:last-child,
    tr:last-child td:first-child {
      border-bottom: none;
    }
    td.gutter {
      background-color: rgba(0, 0, 0, .5);
      text-align: right ;
      & pre {
        background: transparent;
      }
    }
  }

  // Reset for tag `pre` and  for class `.gutter`, `.code`, `.tag`
  pre,
  .gutter,
  .code,
  .tag {
    background-color: inherit;
    font-family: #{map-get($font-families, 'highlight')};
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
    // To override cursor attribute of `.tag` components
    cursor: text;
  }
  // To align line number and line of code regardless if there is a scroll bar or not
  .gutter,
  .code {
    vertical-align: top;
  }
  // hide gutter when code is plain text
  &.plain {
    .gutter {
      display: none;
    }
  }
  // Meta bar which contains name of the file and his link
  figcaption {
    font-size: 1.3rem;
    padding: 5px 15px 22px 20px;
    margin: 0;

    a {
      float: right;
    }
  }

  // Gutter which contains line numbers
  .gutter {
    padding: 0.3em 10px;
    ::selection {
      background: none;
    }
  }
  // Code container
  .code {
    padding: 0.5em 0.8em 0.3em 0.8em;

    pre {
      overflow-x: auto;
      overflow-y: hidden;

    }

  }
  // All lines in gutter and code container
  .line {
    height: map-get($highlight, line-height);
    font-size: map-get($highlight, font-size);
  }
}

// Tabbed code block
.codeblock--tabbed {
  figure.highlight,
  pre > code {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  figure.highlight {
    width: 100%;
    border: none;
  }
  .codeblock--tabbed {
    border: 1px solid #dfe2e5;
  }
  figcaption {
    a, span {
      float: left !important;
    }
    .tabs {
      float: right;
      .tab {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        padding: 0 7px;
        &:last-child {
          margin-right: 0;
        }
      }
      ::selection {
        background: none;
      }
    }
  }
  .tabs-content figure{
    margin: 0;
  }
}

// Gist
.gist {
  .line,
  .line-number {
    font-family: map-get($font-families, 'highlight');
    font-size: 1em;
    margin: 0 0 5px 0;
  }
}

@media #{$small-and-down} {
  .gutter {
    display: none;
  }
}
