.post-header {
    .post-title {
        margin:     0;
        word-break: initial;
        overflow:   hidden;

        &:hover {
            text-decoration: none;
        }
    }
}

// Cover image displayed in single post view
// When post's `coverImage` variable is defined
.post-header-cover {
    display:                     table;
    position:                    relative;
    // Fix the cover image to the top of the page
    top:                         0;
    left:                        0;
    background-size:             cover;
    background-position:         center;
    background-repeat:           no-repeat;
    width:                       100%;
    padding:                     calc(#{map-get($header, 'height')} + 30px) 0 30px 0;
    // 100% minus header high, minus padding-top, minus padding bottom and minus 4px for perfect pixels
    height:                      100%;
    z-index:                     map-get($z-indexes, 'c-post-header-cover');
    // Sidebar animation
    // Transition style (push)
    transition:                  transform .25s ease-in-out;
    -webkit-transition:          -webkit-transform .25s ease-in-out;
    // Eliminate any flickering of elements while they are in a state of being animated
    -webkit-backface-visibility: hidden;
    -webkit-perspective:         1000;

    &.post-header-cover-background {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.05);
    }
    .post-header {
        display:        table-cell;
        vertical-align: middle;

        .post-title {
            max-width:     map-get($main-content, 'max-width');
            margin:        0 auto;
            color:         white;
            text-shadow:   0 2px 0 rgba(0, 0, 0, 0.9);
            margin-bottom: 20px;

            &:hover {
                text-decoration: none;
            }
        }
        // Post meta contains post's date, post's categories and tags
        .post-meta {
            max-width:      map-get($main-content, 'max-width');
            font-family:    map-get($font-families, 'post-meta');
            font-size:      $font-size-base;
            color:          white !important;
            font-weight:    400;
            letter-spacing: 0.05em;
            text-shadow:    0 1px 0 rgba(0, 0, 0, 0.9);
            margin:         0 auto;

            a {
                color: white;
            }

            img.calendar {
                width: 18px;
                vertical-align: text-bottom ;
            }

            .tag-img {
                display: none;
            }
        }
        .post-tags {
            border-bottom: none;
            margin: 0;

            a {
                font-size: #{map_get($font-size,'medium')};
                font-weight: 500;
                display: inline-block;
                margin: 4px 5px 0 0;
                padding: 0 10px;
                font-family: Georgia, Menlo, monospace, 'Open Sans', sans-serif;
                letter-spacing: 0;
                text-decoration: none;
                outline: 0;
                text-shadow:none;
                line-height: 1.9;

                &:nth-child(1n) {
                    color: #fff;
                    border: 1px solid #6fa3ef;
                    border-radius: 15px;
                    background: #6fa3ef
                }

                &:nth-child(2n) {
                    color: #fff;
                    border: 1px solid #ff9800;
                    border-radius: 15px;
                    background: #ff9800
                }

                &:nth-child(3n) {
                    color: #fff;
                    border: 1px solid #46c47c;
                    border-radius: 15px;
                    background: #46c47c
                }

                &:nth-child(4n) {
                    color: #fff;
                    border: 1px solid #f9bb3c;
                    border-radius: 15px;
                    background: #f9bb3c
                }

                &:nth-child(5n) {
                    color: #fff;
                    border: 1px solid #bc99c4;
                    border-radius: 15px;
                    background: #bc99c4
                }

                &:nth-child(6n) {
                    color: #fff;
                    border: 1px solid #e8583d;
                    border-radius: 15px;
                    background: #e8583d
                }

                &::before {
                    content: '# '
                }
            }
            a:hover {
                color: #5f5f5f;
                border: 1px solid #f7f7f7;
                outline-style: none;
                background: #f7f7f7
            }
        }
    }

    &.show {
        background: none;
        opacity: 0.9;
        animation-duration: .8s;
        animation-fill-mode: both;
        animation-name: rightOut;
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: center;
    }
    &.recover{
        animation-name: bounce;
        animation-duration: 1s;
        transform-origin: center bottom;
    }
}

// Decrease height of cover image
.post-header-cover.post-header-cover--partial {
    height: 60%;
}

.post-header-cover-caption {
    margin: 5px 0 50px 0;
}

// Decrease the font size of the post's title on very small screen
@media #{$xsmall-and-down} {
    .post-header-cover {
        .post-header {
            .post-title {
                font-size: map-get($headings-font-size, h1);
            }
        }
    }
}

// Increase the font size of the post's title on small screen
@media #{$small-only} {
    .post-header-cover {
        .post-header {
            .post-title {
                font-size: map-get($headings-font-size, h1) + 0.5rem;
            }
        }
    }
}

@media #{$small-and-down} {
    .post-header-cover {
        // Display post header cover div in large size
        @include post-header-cover-lg;

        // Push post header cover div from the size of the large sidebar
        &[data-behavior="1"],
        &[data-behavior="2"],
        &[data-behavior="4"],
        &[data-behavior="5"] {
            top: calc(#{map-get($header, 'height')});
            @include post-header-cover-pushed-lg;
            @include right-out-lg;
            @include bounce-lg;
        }
        // Push post header cover div from the size of the medium sidebar
        &[data-behavior="3"],
        &[data-behavior="6"] {
            @include post-header-cover-pushed-md;
            @include right-out-md;
            @include bounce-md;
        }
        &[data-behavior="6"] {
            top: calc(#{map-get($header, 'height')});
        }
    }
}

@media #{$medium-only} {
    // Increase the font size of the post's title on medium screen
    .post-header-cover {
        .post-header {
            .post-title {
                font-size:   map-get($headings-font-size, h1) + 3rem;
                line-height: 1.3em;
            }
        }
        // Display post header cover div in medium size
        &[data-behavior="1"],
        &[data-behavior="2"],
        &[data-behavior="3"] {
            @include post-header-cover-md;
            @include right-out-md;
            @include bounce-md;
        }
        // Display post header cover div in large size and push it from the size of the large sidebar
        &[data-behavior="4"],
        &[data-behavior="5"] {
            top: calc(#{map-get($header, 'height')});
            @include post-header-cover-lg;
            @include post-header-cover-pushed-lg;
            @include right-out-lg;
            @include bounce-lg;
        }
        // Display post header cover div in large size and push it from the size of the medium sidebar
        &[data-behavior="6"] {
            top: calc(#{map-get($header, 'height')});
            @include post-header-cover-lg;
            @include post-header-cover-pushed-md;
            @include right-out-md;
            @include bounce-md;
        }
    }
}

@media #{$large-only} {
    // Increase the font size of the post's title on large screen
    .post-header-cover {
        .post-header {
            .post-title {
                font-size:   map-get($headings-font-size, h1) + 3.7rem;
                line-height: 1.3em;
            }
        }
        // Display post header cover div in small size
        &[data-behavior="1"],
        &[data-behavior="2"] {
            @include post-header-cover-sm;
            @include right-out-lg;
            @include bounce-lg;
        }
        // Display post header cover div in medium size
        &[data-behavior="3"] {
            @include post-header-cover-md;
            @include right-out-md;
            @include bounce-md;
        }
        // Display post header cover div in large size and push it from the size of the large sidebar
        &[data-behavior="4"],
        &[data-behavior="5"] {
            @include post-header-cover-lg;
            @include post-header-cover-pushed-lg;
            @include right-out-lg;
            @include bounce-lg;
            top: calc(#{map-get($header, 'height')});
        }
        // Display post header cover div in large size and push it from the size of the medium sidebar
        &[data-behavior="6"] {
            top: calc(#{map-get($header, 'height')});
            @include post-header-cover-lg;
            @include post-header-cover-pushed-md;
            @include right-out-md;
            @include bounce-md;
        }
    }
}

@media #{$xlarge-and-up} {
    // Increase the font size of the post's title on large screen
    .post-header-cover {
        .post-header {
            .post-title {
                font-size:   map-get($headings-font-size, h1) + 3.7rem;
                line-height: 1.3em;
            }
        }
        // Display post header cover div in extra small size
        &[data-behavior="1"] {
            @include post-header-cover-xs;
            @include right-out-xlg;
            @include bounce-xlg;
        }
        // Display post header cover div in small size
        &[data-behavior="2"] {
            @include post-header-cover-sm;
            @include right-out-lg;
            @include bounce-lg;
        }
        // Display post header cover div in medium size
        &[data-behavior="3"] {
            @include post-header-cover-md;
            @include right-out-md;
            @include bounce-md;
        }
        // Display post header cover div in large size and push it from the size of the large sidebar
        &[data-behavior="4"] {
            @include post-header-cover-lg;
            @include post-header-cover-pushed-xlg;
            @include right-out-xlg;
            @include bounce-xlg;
            top: calc(#{map-get($header, 'height')});
        }
        // Display post header cover div in large size and push it from the size of the extra large sidebar
        &[data-behavior="5"] {
            @include post-header-cover-lg;
            @include post-header-cover-pushed-lg;
            @include right-out-lg;
            @include bounce-lg;
            top: calc(#{map-get($header, 'height')});
        }
        // Display post header cover div in large size and push it from the size of the medium sidebar
        &[data-behavior="6"] {
            @include post-header-cover-lg;
            @include post-header-cover-pushed-md;
            @include right-out-md;
            @include bounce-md;
            top: calc(#{map-get($header, 'height')});
        }
    }
}